/* tags -----> */
body {
  font-family: 'Montserrat', sans-serif;
}

/* overrides ----> */
.container { 
  max-width: 768px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* additions ----> */
.mb-12 { margin-bottom: 3rem }
.pt-12 { padding-top: 3rem }
.pb-16 { padding-bottom: 4rem }
.pt-16 { padding-top: 4rem }
.py-16 { padding-top: 4rem; padding-bottom: 4rem }

/* custom classes ----> */
.i-about-title { color: #464646 }

.i-america { height: 30px }

.i-benny-bg { background-image: url(/images/benny-bg.png) }

.i-benny-footer { height: 60px }

.i-3d-flag { height: 200px }

.i-bg-black { background-color: #383838 }

.i-button { 
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
}

.i-delaware {
  background-image: url(/images/delaware.png);
  height: 300px;
}

.i-hero-logo { height: 45px }
.i-hero-text { max-width: 600px }

.i-line { transform: scaleY(7) }

.i-logos img { 
  display: inline-block;
  height: 48px; 
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.i-nav-hover:hover { background-color: #464646 }

.i-nav-logo { height: 12px }

.i-triangle-down { height: 40px }

.i-triangle-down * { color: #383838; }

/* responsive */
@media (min-width: 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}