@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400,700&family=Montserrat:wght@700&display=swap');

@font-face {
  font-family: 'Tiempos Headline';
  src: url('../fonts/TiemposHeadlineApp-Medium.ttf');
}

* {
  font-family: 'Roboto', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

.tiempos-headline {
  font-family: 'Tiempos Headline', sans-serif;
}
