@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Tiempos Headline';
  src: url('../fonts/TiemposHeadlineApp-Medium.ttf');
}

* {
  font-family: 'Roboto', sans-serif;
}

.tiempos-headline {
  font-family: 'Tiempos Headline', sans-serif;
}
